{% load i18n django_bootstrap5 static %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Yivi Portal{% endblock %}</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        {% block extra_head %}{% endblock %}
        {% block extra_css %}{% endblock %}
        {% block extra_js_head %}
            <script type="text/javascript">
            const CSRF_TOKEN = '{{ csrf_token }}';
            </script>
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        <header>
            {% block header %}{% endblock %}
        </header>
        <main class="flex-shrink-0">
            {% block main %}{% endblock %}
        </main>
        <footer class="footer mt-auto">
            {% block footer %}{% endblock %}
        </footer>
        {% bootstrap_javascript %}
        {% block extra_js %}{% endblock %}
    </body>
</html>

