{% extends "base.html" %}
{% load i18n django_bootstrap5 static startswith %}

{% block header %}
<nav class="navbar navbar-expand-md bg-body py-3">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'schememanager:index' %}">
            <img src="{% static 'img/yivi-logo.webp' %}" alt="Yivi Portal" height="30" class="d-inline-block align-text-top me-2">
            <span>Portal</span>
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#main-nav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="main-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                {% if organization %}
                    <li class="nav-item">
                        {% url 'schememanager:organization-portal' organization.slug as url %}
                        {% url 'schememanager:verifier-list' organization.slug as verifier_url %}
                        <a class="nav-link{% if request.path == url or request.path|startswith:url and not request.path|startswith:verifier_url %} active{% endif %}" href="{{ url }}">Organization</a>
                    </li>
                    <li class="nav-item">
                        {% url 'schememanager:verifier-list' organization.slug as url %}
                        <a class="nav-link{% if url and request.path|startswith:url %} active{% endif %}" href="{{ url }}">Verifier</a></li>
                    <li class="nav-item">
                        {% url 'schememanager:issuer-list' organization.slug as url %}
                        <a class="nav-link{% if url and request.path|startswith:url %} active{% endif %}" href="{{ url }}">Issuer</a>
                    </li>
                {% endif %}
            </ul>
            {% if request.session.yivi_email %}
            <div class="dropdown">
                {% if organization %}
                    <a class="btn dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown">{{ organization.name }}</a>
                {% else %}
                    {% if accessible_organizations.count > 1 %}
                        <a class="btn dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown">Select organization</a>
                    {% else %}
                        <a class="btn dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown">{{ accessible_organizations.0.name }}</a>
                    {% endif %}
                {% endif %}
                <div class="dropdown-menu">
                    <span class="text-muted disabled dropdown-item">Your organizations:</span>
                    {% for org in accessible_organizations %}
                        {% with view_name=request.resolver_match.view_name %}
                            {% url view_name org.slug as url %}
                            {% if not url %}
                                {% url "schememanager:verifier-list" org.slug as url %}
                            {% endif %}
                        <a class="dropdown-item" href="{{ url }}">{{ org.name }}</a>
                        {% endwith %}
                    {% empty %}
                        <span class="text-muted disabled dropdown-item">None</span>
                    {% endfor %}
                    <hr class="dropdown-divider">
                    <span class="text-muted disabled dropdown-item">{{ request.session.yivi_email }}</span>
                    <a class="dropdown-item" href="{% url 'admin:logout' %}">Log out</a>
                    {% if request.user.is_authenticated and request.user.is_staff %}
                        <hr class="dropdown-divider">
                        {% if verifier %}
                            <a class="dropdown-item" href="{% url 'admin:schememanager_verifier_change' verifier.id %}">Admin</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% else %}
                <a class="btn btn-primary" href="{% url 'schememanager:login' %}">Log in</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
    <div class="container mt-3">
        {% bootstrap_messages %}
    </div>
    {% block page %}{% endblock %}
{% endblock %}

{% block footer %}
    <div class="container text-muted text-center my-3">
        <p>
            <img src="{% static 'img/yivi-logo.webp' %}" alt="Yivi Portal" height="30" class="d-inline-block align-text-top me-2">
        </p>
    </div>
{% endblock %}
