{% extends "portal/portal.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">{{ organization.name }}</h1>
        <div class="col-12 col-lg-8 mx-auto">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    {% url 'schememanager:verifier-portal' organization.slug as url %}
                    <a class="nav-link{% if request.path == url %} active{% endif %}" href="{{ url }}">Verifier</a>
                </li>
                <li class="nav-item">
                    {% url 'schememanager:verifier-hostnames' organization.slug as url %}
                    <a class="nav-link{% if request.path == url %} active{% endif %}" href="{{ url }}">Hostnames</a>
                </li>
                <li class="nav-item">
                    {% url 'schememanager:verifier-session-requests' organization.slug as url %}
                    <a class="nav-link{% if request.path == url %} active{% endif %}" href="{{ url }}">Requests</a>
                </li>
            </ul>
            <div class="mt-4">
                <div class="accordion" id="hostnames">
                    {% for hostname in hostnames %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse-{{ forloop.counter }}">
                                    {{ hostname.hostname }}
                                    {% if hostname.dns_challenge_verified %}
                                        <span class="badge bg-success rounded-pill mx-2">verified</span>
                                    {% else %}
                                        <span class="badge bg-warning rounded-pill mx-2">pending</span>
                                    {% endif %}
                                </button>
                            </h2>
                            <div id="collapse-{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#hostnames">
                                <div class="accordion-body">
                                    {% if not hostname.dns_challenge_verified %}
                                        <p>To prove ownership of the domain, you must add a verification code as a DNS TXT record at your domain registrar.</p>
                                    {% else %}
                                        <p>This hostname is verified.</p>
                                    {% endif %}
                                    <ul>
                                        <li><strong>Zone</strong>: <code class="user-select-all">{{ hostname.hostname }}</code></li>
                                        <li><strong>Name</strong>: <code class="user-select-all">@</code> (or leave blank)</li>
                                        <li><strong>Type</strong>: <code class="user-select-all">TXT</code></li>
                                        <li><strong>TTL</strong>: <code class="user-select-all">3600</code> (1 hour)</li>
                                        <li><strong>Value</strong>: <code class="user-select-all">{{ hostname.dns_challenge }}</code></li>
                                    </ul>
                                    {% if not hostname.dns_challenge_verified %}
                                        <p>
                                            We will automatically verify the hostname in the background.
                                            Note that it may take up to 24 hours for DNS changes to cascade.
                                        </p>
                                    {% endif %}
                                    <p>
                                        You will need to keep the DNS record in place for as long as you want to use this hostname.
                                        If you remove the DNS record, the hostname will become unverified and will stop working.
                                    </p>
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="hostname" value="{{ hostname.hostname }}">
                                        <input type="hidden" name="action" value="remove">
                                        <button type="submit" class="btn btn-sm btn-danger">Remove hostname</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <form method="post" class="form">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="add">
                    {% bootstrap_button button_type="submit" content="Add" as button %}
                    {% bootstrap_field add_hostname_form.hostname show_label=False addon_after=button addon_after_class=None wrapper_class='input-group my-3'%}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
