{% extends "portal/portal.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">{{ organization.name }}</h1>
        <div class="col-12 col-lg-8 mx-auto">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    {% url 'schememanager:verifier-portal' organization.slug as url %}
                    <a class="nav-link{% if request.path == url %} active{% endif %}" href="{{ url }}">Verifier</a>
                </li>
                <li class="nav-item">
                    {% url 'schememanager:verifier-hostnames' organization.slug as url %}
                    <a class="nav-link{% if request.path == url %} active{% endif %}" href="{{ url }}">Hostnames</a>
                </li>
                <li class="nav-item">
                    {% url 'schememanager:verifier-session-requests' organization.slug as url %}
                    <a class="nav-link{% if request.path == url %} active{% endif %}" href="{{ url }}">Requests</a>
                </li>
            </ul>
            <div class="row mt-4">
                {% if not verifier %}
                    {% bootstrap_alert "Your organization is not registered as verifier" dismissible=False %}
                {% endif %}
                <form method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% if verifier %}
                        {% bootstrap_button button_type="submit" content="Update" %}
                    {% else %}
                        {% bootstrap_button button_type="submit" content="Register as verifier" %}
                    {% endif %}
                    {% bootstrap_button button_type="reset" content="Reset" %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
