/*
  Altered version of https://lea.verou.me/blog/2012/04/background-attachment-local/
*/
.scroll-shadows {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;

  /* prettier-ignore */
  background:
    /* Shadow Cover LEFT */
    linear-gradient(0.25turn, white 30%, rgba(255, 255, 255, 0)) left center,
    /* Shadow Cover RIGHT */
    linear-gradient(0.25turn, rgba(255, 255, 255, 0), white 70%) right center,
    /* Shadow LEFT */
    radial-gradient(farthest-side at 20% 50%, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) left center,
    /* Shadow RIGHT */
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) right center;

  background-repeat: no-repeat;
  background-size:
    40px 100%,
    40px 100%,
    14px 100%,
    14px 100%;
  background-attachment: local, local, scroll, scroll;
}

.scroll-shadows {
  --scrollbar-background: transparent;
  --scrollbar-thumb-background: var(--color-muted);

  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-background) var(--scrollbar-background);
}
.scroll-shadows::-webkit-scrollbar {
  width: 6px;
}
.scroll-shadows::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}
.scroll-shadows::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background);
  border-radius: 6px;
  border: 3px solid var(--scrollbar-background);
}
