{% extends "organization/organization.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="mt-4">
        <div class="alert alert-info" role="alert">
            Billing is currently a manual process.
            You will be contacted by a member of our team to discuss your billing options.
        </div>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% bootstrap_button button_type="submit" content="Update" %}
            {% bootstrap_button button_type="reset" content="Reset" %}
        </form>
    </div>
{% endblock %}

