{% extends "organization/organization.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="mt-4">
        <p>
            People with the following email addresses are able to manage this organization.<br>
            Users can authenticate themselves by disclosing their email address via Yivi when logging in to this portal.
        </p>
        <p>
            You can add or remove people from this list. If you remove yourself, you will no longer be able to manage this organization.
        </p>
        <p>
            Additionally, people that are KvK registered authorized representatives of this organization, can get access to this organization by disclosing the KvK credential via Yivi.
        </p>
        <ul class="list-group">
            {% for admin in admins %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ admin.email }}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="email" value="{{ admin.email }}">
                        <input type="hidden" name="action" value="remove">
                        {% if admin.email == request.session.yivi_email %}
                            <button type="submit" class="btn btn-sm btn-secondary" {% if admins.count == 1 %}disabled{% endif %}>Leave</button>
                        {% else %}
                            <button type="submit" class="btn btn-sm btn-danger" {% if admins.count == 1 %}disabled{% endif %}>Remove</button>
                        {% endif %}
                    </form>
                </li>
            {% endfor %}
        </ul>
        <form method="post" class="form">
            {% csrf_token %}
            <input type="hidden" name="action" value="add">
            {% bootstrap_button button_type="submit" content="Add" as button %}
            {% bootstrap_field add_admin_form.email show_label=False addon_after=button addon_after_class=None wrapper_class='input-group my-3'%}
        </form>
    </div>
{% endblock %}
