<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>You've Been Added to an Organization</title>
</head>
<body>
  <div class="container">
      <p>Greetings,</p>
      <p>
        <strong>{{ added_by }}</strong> has added you as a maintainer to the
        organization <strong>{{ organization_name }}</strong> on the Yivi Portal.
      </p>
      <p>You can now log in and manage organization details.</p>
    </div>
    <div class="footer">
      &mdash; Yivi Portal
    </div>
  </div>
</body>
</html>
